#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" -}}

# install homebrew if it's missing
if ! command -v brew >/dev/null 2>&1; then
    echo "Installing homebrew"
    /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
fi

brew update && brew bundle install --global

#Enable completion and key-bindings for `fzf`
"$(brew --prefix)"/opt/fzf/install --all

{{ end -}}
