#!/usr/bin/env bash

# shellcheck disable=SC1054,SC1083
{{ if eq .chezmoi.os "darwin" -}}

# install homebrew if it's missing
if ! command -v brew >/dev/null 2>&1; then
	echo "Installing homebrew"
	/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
fi

brew update && brew bundle install --global

#Enable completion and key-bindings for `fzf`
"$(brew --prefix)"/opt/fzf/install --all

# shellcheck disable=SC1009,SC1054,SC1073,SC1083,SC1056,SC1072
{{ end -}}
